@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #F2F0EB;
}

.flex-container {
    display: flex;
    flex-direction: in-line;
    width: 100%;
    height: 100%;
    background-color: #F2F0EB;
    font-family: 'Michroma', sans-serif;
 
}

#kayla {
    font-size: 18px;
    text-align: left;
    color: #FF2C7A;
    font-family: 'Michroma', sans-serif;
    justify-content: left;
    padding-right: 1150px;
    padding-left: 25px;
}




#contact{
    font-size: 18px;
    text-align: left; /* Added property to align text on the left */
    color: #FF2C7A;
    font-family: 'Michroma', sans-serif;
    align-items: right;
}

#random-stuff{
    font-size: 18px;
    text-align: left; /* Added property to align text on the left */
    color: #FF2C7A;
    font-family: 'Michroma', sans-serif;
    align-items: right;
}




.flexbox{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #F2F0EB;
    font-family: 'Michroma', sans-serif;
    flex-wrap: nowrap;
    
  

}

h1{
    font-size: 24px;
    color: #FF2C7A;
    font-family: 'Michroma', sans-serif;
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
   
    
}

.flex-container-description{
    width: 350vw;
    height: 50%; 
    background-color: #F2F0EB;
    font-family: 'Montserrata', sans-serif;
    /* padding-top: 100px;
    padding-right: 200px;   */

}
#form-container{
    width: 100%;
    height: 100%;
    background-color: #F2F0EB;
    font-family: 'Michroma', sans-serif;
    flex-wrap: nowrap;
   
}

#submit{
    font-size: 14px;
    font-family: 'Michroma', sans-serif;
    flex-wrap: nowrap;
   
}

#submit:hover{
  color:#FF2C7A
   
}




a{
    text-decoration: none;
    color: #FF2C7A;
    
}


.flex-container-image{
 
    /* width: 25%;
    height: 50%; */
    font-family: 'Montserrata', sans-serif;
    background-color: #F2F0EB;
}


#resume{
    font-size: 24px;
    text-align: left; /* Added property to align text on the left */
    color: #FF2C7A;
    font-family: 'Michroma', sans-serif;
    align-items: left;
    padding-left:50px;
    padding-right:100px;
   
}


#postmodern{
    width: 90%;
    /* height: 100%; */
}


#postmodern-mockup1{
    width: 90%;
    /* height: 100%; */
}

#postmodern-mockup2{
    width: 90%;
    /* height: 100%; */
}

#postmodern-mockup3{
    width: 90%;
    /* height: 100%; */
}

#postmodern-mockup4{
    width: 90%;
    /* height: 100%; */
}

#postmodern-mockup5{
    width: 90%;
    /* height: 100%; */
}

#postmodern-mockup6{
    width: 90%;
    /* height: 100%; */
}

#bjork{
    width: 80%;
    /* height: 100%; */
}


#bjork-2{
    width: 80%;
    /* height: 100%; */
}

#bjork-3{
    width: 80%;
    /* height: 100%; */
}

#bjork-4{
    width: 80%;
    /* height: 100%; */
}

#bjork-5{
    width: 80%;
    /* height: 100%; */
}

#brochure{
    width: 80%;
    /* height: 100%; */
}

#brochure1{
    width: 80%;
    /* height: 100%; */
}

#brochure2{
    width: 80%;
    /* height: 100%; */
}

#trees{
    width: 80%;
    /* height: 100%; */
}


#trees1{
    width: 80%;
    /* height: 100%; */
}


#trees2{
    width: 80%;
    /* height: 100%; */
}


#trees3{
    width: 80%;
    /* height: 100%; */
}


#trees4{
    width: 80%;
    /* height: 100%; */
}


#trees5{
    width: 80%;
    /* height: 100%; */
}


#trees6{
    width: 80%;
    /* height: 100%; */
}


#trees7{
    width: 80%;
    /* height: 100%; */
}

#giveandtake{
    width: 80%;
    /* height: 100%; */
}

#give1{
    width: 80%;
    /* height: 100%; */
}

#give2{
    width: 80%;
    /* height: 100%; */
}

#give3{
    width: 80%;
    /* height: 100%; */
}
#natk{
    width: 80%;
    /* height: 100%; */
}

#natk1{
    width: 80%;
    /* height: 100%; */
}

#natk2{
    width: 80%;
    /* height: 100%; */
}

#natk3{
    width: 80%;
    /* height: 100%; */
}

#recipe3{
    width: 80%;
    /* height: 100%; */
}

#recipe2{
    width: 80%;
    /* height: 100%; */
}

#recipe{
    width: 80%;
    /* height: 100%; */
}

#muffins{
    width: 80%;
    /* height: 100%; */
}

#strawberry-dip{
    width: 80%;
    /* height: 100%; */
}

#banana-split{
    width: 80%;
    /* height: 100%; */
}

#missing-mockup1{
    width: 80%;
    /* height: 100%; */
}

#missing-mockup2{
    width: 80%;
    /* height: 100%; */
}

#missing3{
    width: 80%;
    /* height: 100%; */
}

#missing4{
    width: 80%;
    /* height: 100%; */
}

#missing5{
    width: 80%;
    /* height: 100%; */
}

#missing6{
    width: 80%;
    /* height: 100%; */
}

#missing7{
    width: 80%;
    /* height: 100%; */
}

#missing8{
    width: 80%;
    /* height: 100%; */
}

#missing9{
    width: 80%;
    /* height: 100%; */
}

/* #form-container{
    width: 100%;
    height: 100%;
    background-color: #F2F0EB;
    font-family: 'Michroma', sans-serif;
    flex-wrap: nowrap;
    padding-left: 0px;
    padding-bottom: 0px;
} */

/* #text{
    font-size: 14px;
    font-family: 'Michroma', sans-serif;
    flex-wrap: nowrap;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
    position: absolute
} */

.flex-item{
    width: 10%;
    margin: 10px;
    text-align:center;
    font-size: 14px;
    font-family: 'Michroma', sans-serif;

    
}

#robot{
    width: 75%;
    margin-top: -100px;
}

#clickButton{
    margin-top: 10%; 
    width: 100%;
    height: 100%;
    background-color: #F2F0EB;
    font-family: 'Michroma', sans-serif;
    flex-wrap: nowrap;
    padding-left: 0px;
    padding-bottom: 0px; 
} 


#myButton{
    margin-top: 10%;
    width: 100%;
    height: 100%;
    background-color: #F2F0EB;
    font-family: 'Michroma', sans-serif;
    flex-wrap: nowrap;
    padding-left: 0px;
    padding-bottom: 0px; 
}


@keyframes changeBackgroundColor {
    0% {
        background-color: rgb(201, 25, 169);
    }
    50% {
        background-color: rgb(47, 178, 198);
    }
    100% {
        background-color: rgb(189, 222, 25);
    }
}

.bg-anim {
    animation: changeBackgroundColor 3s infinite;
}