@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #F2F0EB;
}

.flex-container-header {
    display: flex;
    flex-direction: in-line;
    width: 100%;
    height: 20%;
    background-color: #F2F0EB;
    font-family: 'Michroma', sans-serif;
 
}

#kayla {
    font-size: 18px;
    text-align: left;
    color: #000000;
    font-family: 'Michroma', sans-serif;
    justify-content: left;
    padding-left: 25px;
    padding-right: 20px;
}




#contact{
    font-size: 18px;
    text-align: left; /* Added property to align text on the left */
    color: #000000;
    padding-right: 20px;
}

#random-stuff{
    font-size: 18px;
    text-align: left; /* Added property to align text on the left */
    color: #000000;
    font-family: 'Michroma', sans-serif;
    padding-right: 20px;
}




.flexbox{
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #F2F0EB;
    font-family: 'Michroma', sans-serif;
    flex-wrap: nowrap;
    
  

}

h1{
    font-size: 36px;
    color: #000000;
    font-family: 'Michroma', sans-serif;
     padding-top: 100px;
    /* padding-right: 100px; */
    /* padding-left: 100px; */
    padding-bottom: 20px; 
   
    
}

p{
    font-size: 16px;
    color: #000000;
    padding-top: 20px;
    /* padding-right: 100px;
    padding-left: 100px; */
    padding-bottom: 20px; 

}

.flex-container-pages{
   display: block;
   justify-content: center;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
    width: 80%;
    height: 80%; 
    /* padding-right: 400px;
    padding-left: 400px; */
    background-color: #F2F0EB;
    font-family: 'Montserrata', sans-serif;
   justify-content: center;
   flex: wrap;

}




#resume{
    font-size: 24px;
    text-align: left; /* Added property to align text on the left */
    color: #FF2C7A;
    font-family: 'Michroma', sans-serif;
    align-items: left;
    padding-left:50px;
    padding-right:100px;
   
}


#postmodern{
    width: 100%;
    /* height: 100%; */
}

#riso{
    width: 100%;
    /* height: 100%; */
}


#bjork{
    width: 100%;
    /* height: 100%; */
}



#trees{
    width: 100%;
    /* height: 100%; */
}

#forum{
    width: 100%;
    /* height: 100%; */
}

#lamosca{
    width: 100%;
    /* height: 100%; */
}

#riso{
    width: 100%;
    /* height: 100%; */

}



/* Media Queries */

/* ---------------------------------IPHONE 5/SE-------------------------------- */
.flex-container-header{
    display: flex;
    flex-direction: inline;
    width: 100%;

}

#kayla {
    font-size: 10px;
    text-align: left;
    color: #000000;
    font-family: 'Michroma', sans-serif;
    justify-content: left;
}

#contact{
    font-size: 10px;
    text-align: left; /* Added property to align text on the left */
    color: #000000;
    font-family: 'Michroma', sans-serif;
    justify-content: left;
    
}

#random-stuff{
    font-size: 10px;
    text-align: left; /* Added property to align text on the left */
    color: #000000;
    font-family: 'Michroma', sans-serif;
    justify-content: left;

}

h1{
    font-size: 24px;
    text-align: left; /* Added property to align text on the left */
    color: #000000;
    font-family: 'Michroma', sans-serif;
    padding-top: 100px;
    padding-bottom: 20px; 
}

p{
    font-size: 14px;
    text-align: left; /* Added property to align text on the left */
    color: #000000;
    padding-bottom: 20px; 
}